@import "./styles/example.scss";

h1 {
    font-size: 3em; /* Font size */
    text-align: center;
    position: relative;
    top: 75px;

    animation: popAnimation 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes popAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: scale(1);
        color: #61dafb; /* Original text color */
    }
    40%, 60% {
        transform: scale(1.2);
        color: #f00; /* Change text color to red or any other color */
    }
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(https://media3.giphy.com/media/ei69IyyyIqc2lxn2DZ/giphy.gif?cid=ecf05e47lrscmfy4u7au8y2wm4k5biuakh6g4n45qlum5sta&ep=v1_gifs_search&rid=giphy.gif&ct=g) center/cover fixed;
    color: #61dafb; /* Text color */
    height: 100vh; /* Full viewport height */
    align-items: center;
    animation: coolAnimation 2s linear infinite; /* Change to linear timing function */
}

// body {
//     // background-color: rgb(39, 74, 0);
//     // background-image: url(https://media3.giphy.com/media/IbekjrW43xz0XNtpe0/giphy.webp?cid=ecf05e47kle1m4sqcse6a0x2yt8a4w5eheimaza1i6zd5x2d&ep=v1_gifs_search&rid=giphy.webp&ct=g);
//     // background-size: cover;
//     background: url(https://media3.giphy.com/media/IbekjrW43xz0XNtpe0/giphy.webp?cid=ecf05e47kle1m4sqcse6a0x2yt8a4w5eheimaza1i6zd5x2d&ep=v1_gifs_search&rid=giphy.webp&ct=g) center/cover fixed;
// }



@keyframes coolAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1);
    }
}

#board{
    width: 400px;
    height: fit-content;
    border: 10px solid black;
    background-color: lightslategray;
    position: relative;
    top: 150px;
    // column-gap: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    margin: 0px;
    

    // flex-wrap: wrap;

    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

#board :hover {
    background-color: yellow;
}

.cashTile {
    background-color: yellow;
    position: relative;
}

.cashTile::before {
    content: '💰';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
}

.bombTile {
    background-color: red;
    position: relative;
}

.bombTile::before {
    content: '💣';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
}

.keyTile {
    background-color: green;
    position: relative;
}

.keyTile::before {
    content: '🗝️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
}

.diamondTile {
    background-color: blue;
    position: relative;
}

.diamondTile::before {
    content: '💎';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust the font size as needed */
}

#score, #vaultCount{
    border: 3px solid #ff0000;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
    color: #f00;
}


// h2 {
//     text-align: center;
// }